numpy==1.26.4
spacy==3.5.4
#thinc==8.0.17
torch==2.5.1
peft==0.6.2

#crosslingual-coreference
en_core_web_lg @ https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-3.5.0/en_core_web_lg-3.5.0-py3-none-any.whl
setuptools==65.6.3
coreferee==1.4.1
stanza==1.9
https://github.com/explosion/spacy-models/releases/download/en_core_web_trf-3.5.0/en_core_web_trf-3.5.0-py3-none-any.whl
dotenv==0.9.9
transformers==4.30.2
